.header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(156, 156, 156, 0.719);
    border-bottom: 1px solid white;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    position: relative;
}

#left-section {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

#logo {
    cursor: pointer;
    margin-left: 40px;
    width: 250px;
    height: 80px;
}

.navbar {
    width: 40%;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    right: 20px;
    padding: 0;
    margin-right: 0;
}

.navbar ul {
    padding: 0;
    margin: 0;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 16px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: Pixelify Sans;
    font-size: 20px;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin-right: 20px;
    margin-top: 20px;
}

@media (max-width: 700px) {
    .navbar {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: rgba(156, 156, 156, 0.719);
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 1000;
}

.navbar ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    }

    .navbar ul li {
    margin: 8px 0;
    text-align: center;
    }

.menu-toggle:checked + .menu-icon + .navbar {
    display: flex;
}

.menu-icon {
display: block;
}

#logo {
    width: 120px;
    height: auto;
    }
}

@media (max-width: 671px) {
    #menu{
        margin-right: 120px;
    }
}

@media (max-width: 600px) {
    #menu{
        margin-right: 80px;
    }
}


@media (max-width: 550px) {
    #menu{
        margin-right: 80px;
    }
}


@media (max-width: 500px) {
    #menu{
        margin-right: 80px;
    }
}

@media (max-width: 443px) {
    #menu{
        margin-right: 80px;
    }
}

@media (max-width: 400px) {

    #menu{
        margin-right: 60px;
    }
    .header{
        width: 100%;
    }
    .navbar {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: rgba(156, 156, 156, 0.719);
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 1000;
}

.navbar ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    }

    .navbar ul li {
    margin: 8px 0;
    text-align: center;
    }

.menu-toggle:checked + .menu-icon + .navbar {
    display: flex;
}

.menu-icon {
display: block;
}

#logo {
    width: 120px;
    height: auto;
    }
}


@media (max-width: 360px) {

    .header{
        width: 100%;
    }
    .navbar {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: rgba(156, 156, 156, 0.719);
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 1000;
}

.navbar ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    }

    .navbar ul li {
    margin: 8px 0;
    text-align: center;
    }

.menu-toggle:checked + .menu-icon + .navbar {
    display: flex;
}

.menu-icon {
display: block;
}

#logo {
    width: 120px;
    height: auto;
    }
}